@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;
}

/* header */
header {
    width: 100%;
    position: fixed;
    background: #222;
    z-index: 100;
}

header .inner-header {
    width: 92%;
    height: 120px;
    margin: 0 auto;
    /* background: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header .logo {
    /* background: tomato; */
    flex: 1;
}

header .inner-header .logo a {
    display: block;
    width: 100%;
}

header .inner-header .logo a img {
    height: 60px;
}

header .inner-header .intro-text {
    /* background: skyblue; */
    flex: 4;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
}

header .inner-header .menu-open {
    /* background: greenyellow; */
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

/* menu navigation bar */
header .gnb {
    display: none;
}

/* \header end */

/* section visual */

section.visual .slide li {
    width: 100%;
    height: 100vh;
    background: #222;
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

section.visual .slide li .txt {

    font-size: 18px;
    color: #fff;
    /* 이미지 뒤에 뭍혀서 꺼내기 위해 */
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
    font-weight: 700;
}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    position: absolute;
    left: 50px;
    bottom: 10%;
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    transform: rotate(-90deg);
}

/* \section visual end */

/* section contents */
section.contents {
    background: #1b1b1b;
    padding: 120px 0;
    box-sizing: border-box;
}

/* section contents > .main text */

section.contents .main-text {

    width: 1170px;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    display: flex;
    position: relative;
    animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

section.contents .main-text::before {
    content: '';
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 130px;
}

section.contents .main-text::after {
    /* ㄴ한자 */
    content: '”';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 50px;
}

section.contents .main-text h3 {
    flex: 1;
    font-weight: 700;
    line-height: 1.2;
}

section.contents .main-text p {
    flex: 1.5;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
}

/* \ section contents > .main text end */

/*  section contents > .project  */

section.contents .project {
    color: #fff;
}

section.contents .project .top {
    /* color: #fff; */
    width: 1170px;
    margin: 130px auto 60px;
    display: flex;
    justify-content: space-between;
    /* margin: 50px 100px; */
}

/* end shift home 누르면 한 줄 복사 */
/* 컨트롤 시프트 방향키 하면 단어 하나씩 */

section.contents .project .top h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;

}

/* section>.project .top .animate {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.3;
    animation: fadeInLeft 1s 0.5s;
} */

@keyframes fadeInLeft {
    0% {
        left: 0;
        width: 0;
        opacity: 0;

    }

    50% {
        width: 50%;
        opacity: 0.5;

    }

    100% {
        width: 100%;
        opacity: 1;

    }
}


section.contents .project .top a {
    display: block;
    font-size: 18px;

}

section.contents .project .top a span {
    font-size: 14px;
    margin-left: 5px;
}

section.contents .project ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-top: 50px;
    position: relative;
}

section.contents .project ul li {
    height: 400px;
    overflow: hidden;
    position: relative;

}

section.contents .project ul li a {
    display: block;
    width: 100%;
    height: 100%;

}

section.contents .project ul.animate li a img {
    width: 100%;
    height: 100%;
}

/* 같은 크기 박스 만듦 */
section.contents .project ul.animate li a::before {
    content: '';
    background: rgba(27, 27, 27, 0.9);
    width: 0;
    height: 100%;
    position: absolute;
    /* left: 0;
    top: 0; */
    transition: 0.6s;

}

section.contents .project ul.animate li a:hover::before {
    width: 100%;

}

section.contents .project ul.animate li a .name {

    width: 250px;
    opacity: 0;
    padding: 15px;
    box-sizing: border-box;
    text-align: right;
    background: #1b1b1b;
    /* color: #fff; */
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 22px;
    font-weight: 700;

}

/* 
section.contents .project ul.animate li a .name::before {
    content: '';
    width: 0;
    opacity: 0;
} */

section.contents .project ul.animate li a:hover .name {
    width: 100%;
    opacity: 1;
    animation: rise-up 1s;
}

@keyframes rise-up {
    0% {
        opacity: 0;
        bottom: -10%;
    }

    100% {
        opacity: 1;
        bottom: 10px;
    }
}

section.contents .project ul.animate li a .name span {
    font-size: 15px;
    font-weight: 700;
}

section.contents .project ul.animate li a .name h3 {
    text-transform: uppercase;

}


/* \ section contents > .project end */

/*  section contents > .partner  */
section.contents .partner {
    width: 1170px;
    margin: 170px auto 100px;
    color: #fff;
}

section.contents .partner .animate {
    animation: fadeInRight 1s;

}

@keyframes fadeInRight {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 50%;
        opacity: 0.5;
    }

    100% {
        width: 100%;
        opacity: 1;

    }
}

section.contents .partner h3 {
    /* color: #fff; */
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 80px;
}

section.contents .partner ul {
    /* background: tomato; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 150px);

    /* 각 요소들 위치 변경 */
    justify-items: center;
    align-items: center;
    gap: 10px;
}

section.contents .partner ul li {

    /* background: red; */
    /* height: 100px;
    margin-top: 80px;
    text-align: center; */
}

section.contents .partner ul li img {
    display: inline-block;
    opacity: 0.4;
    transition: 0.3s;
}

section.contents .partner ul li:hover img {
    opacity: 1;
}

/* \section contents > .partner end */

/* section contents > .contact  */


section.contents .contact {
    width: 90%;
    background: url(../img/contact.jpg) no-repeat center/cover fixed;
    /* background-position: left;
    background-size: cover;
    background-attachment: fixed; */
    /* position: relative; */
    padding: 220px 0;
    color: #fff;
    box-sizing: border-box;
    animation: fadeIn 2s 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}

section.contents .contact .inner {
    width: 1170px;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 17px;
    /* color: #fff; */
    /* padding: 0 50px; */
    box-sizing: border-box;
}

section.contents .contact .inner h3 {
    font-weight: 400;
}
section.contents .contact .inner .tel {
    font-size: 55px;
    font-weight: 700;
    margin: 50px 0;
}

/* \section contents > .contact end */

/* footer */
footer {
    position: relative;
    background: #1b1b1b;
    color: #999;
    padding: 0 80px 80px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #1b1b1b; */
    /* color: #fff; */
    padding: 0 80px 80px;
}

footer ul li:nth-child(2) {
    font-size: 16px;
    line-height: 2;
    color:#eee ;
}

footer ul li:nth-child(2) span {
    color: #999;
    margin-right: 10px;
    font-weight: 700;
}

footer ul li:nth-child(3) {
    /* color: #999; */
    font-weight: 700;
}

footer .go-top {
    /* font-family: Linearicons-Free; */
    font-weight: 400;
    color: #fff;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 60px;
    cursor: pointer;

}

footer .lnr-arrow-up:before {
    content: "\e877";
}

/* \footer end */

/*  */