@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font: 15px "Noto Sans KR", sans-serif;
}

/* header */
header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

header .inner-header {
    width: 92%;
    height: 120px;
    margin: 0 auto;
    /* background: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header .logo {
    /* background: tomato; */
    flex: 1;


}

header .inner-header .logo a {
    display: block;
    width: 100%;

}

header .inner-header .logo a img {
    height: 60px;

}

header .inner-header .intro-text {
    /* background: skyblue; */
    flex: 4;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
}

header .inner-header .menu-open {
    /* background: greenyellow; */
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

/* menu navigation bar */
header .gnb {
    display: none;
}

/* section visual */

section.visual .slide li {
    width: 100%;
    height: 100vh;
    background: #222;
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

section.visual .slide li .txt {

    font-size: 18px;
    color: #fff;
    /* 이미지 뒤에 뭍혀서 꺼내기 위해 */
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
    font-weight: 700;

}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    position: absolute;
    left: 50px;
    bottom: 10%;
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    transform: rotate(-90deg);

}

/* section contents */
section.contents {
    background: #1b1b1b;
    padding: 120px 0;

}

/* section contents > .main text */

section.contents .main-text {

    width: 1170px;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
    display: flex;
    position: relative;
}

section.contents .main-text::before {
    content: '';
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 130px;
}

section.contents .main-text::after {
    /* ㄴ한자 */
    content: '”';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 50px;
}

section.contents .main-text h3 {

    flex: 1;
    font-weight: 700;
    line-height: 1.2;

}

section.contents .main-text p {

    flex: 1.5;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
}